<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Library App</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>


  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>
            Sign Up Page
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg">
            <div class="row">
              <div class="col-sm-12">


              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /cont -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div>
    </div><!-- /cont -->

  </div>


  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="panel">
          <div class="panel-body">



            <!--/stories-->
            <div class="s1">
              <form action="/home" onsubmit="return validate();">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="first" placeholder="">
                    <label for="error" class="float-right" id="error"></label>
                  </div>
                  <br>
                  <hr>
                  <label class="col-sm-2 col-form-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="last" placeholder="">
                    <label for="error" class="float-right" id="error1"></label>
                  </div>
                  <br>
                  <hr>
                  <label class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="">
                    <label for="error" class="float-right" id="error2"></label>
                  </div>
                  <br>
                  <hr>
                  <label class="col-sm-2 col-form-label">password</label>
                  <div class="col-sm-10">
                    <input id="pass" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();">

                    <span id="strength">Type Password</span>

                    <label for="error" class="float-right" id="error3"></label>
                  </div>
                  <br>
                  <hr>
                  <label class="col-sm-2 col-form-label">Confirm password</label>
                  <div class="col-sm-10">
                    <input type="password" size="15" maxlength="100" id="pass1" placeholder="">
                    <label for="error" class="float-right" id="error4"></label>
                  </div>
                  <br>
                  <hr>
                  <label class="col-sm-2 col-form-label">Date of Birth</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="dob" placeholder="" required>
                    <label for="error" class="float-right" id="error5"></label>
                  </div>
                  <br>
                  <hr>
                  <label class="col-sm-2 col-form-label">Gender</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="gender" placeholder="Male/Female">
                    <label for="error" class="float-right" id="error6"></label>
                  </div>
                </div>
                <hr>

                <div class="form-group row">
                  <div class="col-sm-2">Checkbox</div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1" required>
                      <label class="form-check-label" for="gridCheck1">
                        check to continue
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </div>
                </div>
              </form>
            </div>

            <!--/stories-->


            <a href="/" class="btn btn-primary pull-right btnNext">Back<i
                class="glyphicon glyphicon-chevron-right"></i></a>


          </div>
        </div>



      </div>
      <!--/col-12-->
    </div>
  </div>


  <hr>

  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">

        <h1>Follow Us</h1>
        <div class="btn-group">
          <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
          <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
          <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>

        </div>
        <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a
              href="http://www.bootply.com">Bootply</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    var firstname = document.getElementById("first");
    var lastname = document.getElementById("last");
    var email = document.getElementById("email");
    var pass = document.getElementById("pass");
    var pass1 = document.getElementById("pass1");
    var dob = document.getElementById("dob");
    var gender = document.getElementById("gender");
    var error = document.getElementById("error");
    var error1 = document.getElementById("error1");
    var error2 = document.getElementById("error2");
    var error3 = document.getElementById("error3");
    var error4 = document.getElementById("error4");
    var error5 = document.getElementById("error5");
    var error6 = document.getElementById("error6");

    function validate() {
      console.log('hii');
      var regexprssn = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$/;
      var upper = /[A-Z]/g;
      var lower = /[a-z]/g;
      var name = /[a-zA-Z]/g;
      var nums = /[0-9]/g;
      var num = /^[1-9]{3}[-,\s]?[1-9]{3}[-,\s]?\d{4}$/


      if (name.test(firstname.value) == false) {

        error.innerHTML = ("Invalid");
        error.style.color = "red";
        firstname.style.border = ("3px solid red");
        return false;
      } else {
        error.innerHTML = ("valid");
        error.style.color = "green";
        firstname.style.border = ("3px solid green");

      }
      if (name.test(lastname.value) == false) {

        error1.innerHTML = ("Invalid");
        error1.style.color = "red";
        lastname.style.border = ("3px solid red");
        return false;
      } else {
        error1.innerHTML = ("valid");
        error1.style.color = "green";
        lastname.style.border = ("3px solid green");

      }
      if (regexprssn.test(email.value) == false) {

        error2.innerHTML = ("Invalid");
        error2.style.color = "red";
        email.style.border = ("3px solid red");
        return false;
      } else {
        error2.innerHTML = ("   valid");
        error2.style.color = "green";
        email.style.border = ("3px solid green");

      }
      if (pass.value.length <= 8) {
        error3.innerHTML = ("    **password minimum 8 characters");
        pass.style.border = ("3px solid red");
        error3.style.color = "red";
        return false;
      } else {
        error3.innerHTML = ("     **8 characters");
        pass.style.border = ("3px solid green");
        error3.style.color = "green";

      }
      if (upper.test(pass.value) == false) {
        error3.innerHTML = ("    **Atleast 1 uppercase letter");
        pass.style.border = ("3px solid red");
        error3.style.color = "red";
        return false;
      } else {
        error3.innerHTML = ("     **valid");
        pass.style.border = ("3px solid green");
        error3.style.color = "green";

      }
      if (lower.test(pass.value) == false) {
        error3.innerHTML = ("      **Atleast 1 lowercase letter");
        pass.style.border = ("3px solid red");
        error3.style.color = "red";
        return false;
      } else {
        error3.innerHTML = ("      **valid");
        pass.style.border = ("3px solid green");
        error3.style.color = "green";

      }
      if (nums.test(pass.value) == false) {
        error3.innerHTML = ("       **Atleat one number");
        pass.style.border = ("3px solid red");
        error3.style.color = "red";
        return false;
      } else {
        error3.innerHTML = ("      **valid");
        pass.style.border = ("3px solid green");
        error3.style.color = "green";

      }
      if (pass1.value != pass.value) {
        error4.innerHTML = ("**password not matching");
        pass1.style.border = ("3px solid red");
        error4.style.color = "red";
        return false;
      } else {
        error4.innerHTML = ("**valid");
        pass1.style.border = ("3px solid green");
        error4.style.color = "green";

      }
      if (name.test(gender.value) == false) {

        error6.innerHTML = ("Invalid");
        error6.style.color = "red";
        gender.style.border = ("3px solid red");
        return false;
      } else {
        error6.innerHTML = ("valid");
        error6.style.color = "green";
        gender.style.border = ("3px solid green");

      }


    }
    function passwordChanged() {
      var strength = document.getElementById('strength');
      var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
      var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
      var enoughRegex = new RegExp("(?=.{6,}).*", "g");

      var pwd = document.getElementById("pass");
      if (pwd.value.length == 0) {
        strength.innerHTML = 'Type Password';
      } else if (false == enoughRegex.test(pwd.value)) {
        strength.innerHTML = 'More Characters';
      } else if (strongRegex.test(pwd.value)) {
        strength.innerHTML = '<span style="color:green">password strength--Strong!</span>';
      } else if (mediumRegex.test(pwd.value)) {
        strength.innerHTML = '<span style="color:orange">password strength--Medium!</span>';
      } else {
        strength.innerHTML = '<span style="color:red">password strength--Weak!</span>';
      }
    }





  </script>

</body>

</html>