<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Library App</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>


    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>
                        EDIT HERE
                        <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-12">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-spacer"> </div>
                </div>
            </div>
        </div><!-- /cont -->

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">



                        <!--/stories-->

                        <div class="s1">
                            <form  method="POST" action="/update/<%=book._id%>" enctype="multipart/form-data" name=form1>
                                <div class="form-group row">

                                    <label class="col-sm-2 col-form-label">title</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="title" value='<%=book.title%>'  size="25" maxlength="100" required> 
                                    </div>
                                    <br>
                                    <hr>
                                    <label class="col-sm-2 col-form-label">author</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="author" value='<%=book.author%>' size="25" maxlength="100" required>
                                    </div>
                                    <br>
                                    <hr>

                                    <label class="col-sm-2 col-form-label">genre</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="genre" value='<%=book.genre%>'  size="25" maxlength="100" required>
                                    </div>
                                    <br>
                                    <hr>

                                    <label class="col-sm-2 col-form-label">image</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="image" value="upload" size="25" maxlength="100"   required>
                                    </div>
                                    <br>
                                    
                                   
                                    

                                    <div class="form-group row">
                                        <div class="col-sm-10"  style="padding-left: 20em;padding-top: 7em;">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                            </form>
                        </div>

                        <!--/stories-->


                        <a href="/books" class="btn btn-primary pull-right btnNext">Back<i
                                class="glyphicon glyphicon-chevron-right"></i></a>



                    </div>



                </div>
                <!--/col-12-->
            </div>
        </div>


        <hr>

        <div class="container" id="footer">
            <div class="row">
                <div class="col col-sm-12">

                    <h1>Follow Us</h1>
                    <div class="btn-group">
                        <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                        <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i>
                            Facebook</a>
                        <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i>
                            Google+</a>
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <hr>


        <!-- script references -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>


</body>

</html>